*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* all common css end */
.header{
  
    background: #3091F2;
  

}

.menu{
    padding:30px 0px;
    width: 1100px;
    margin: 0 auto;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #fff;
    font-size: 16px;
    padding: 0 20px;
}

.button{
    color: #ffffff;
    width: 160px;
    height: 50px;
    background: rgb(221, 38, 6);
    text-align: center;
    
}
.button h3{
    padding: 12px;
}
.banner{
  
    background:url(../images/dcc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.overly{
    background: rgba(0, 0, 0, 0.2);
    padding: 250px 0;
    color: #ffffff;
    font-size: 29px;
    text-align: center;
    line-height: 50px;
}
